{% extends 'base.html' %}

{% block content %}
<h3>Description of an image</h3>

<form method="post" autocomplete="off"> {% csrf_token %}
    <input type="text" class="form-control" name="user_input">
    <button type="submit" class="btn btn-primary mt-3">
        Submit
    </button>
</form>
<br>
{% if object %}
<div>
    <h4>{{ object.pharse }}</h4>
    <br>
    <img src="{{object.ai_image.url}}" alt="{{ object.pharse }}">
    <style>
        img{
            border-radius: 20px;
        }
        span{
            color: black;
            text-size:20px;
        }
    </style>
</div>
{% endif %}

{% endblock content %}